* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-bkgrnd: rgba(231,113,125,1);
    --sec-bkgrnd: rgba(251,238,193,1);
    --primary-color: hsla(11, 70%, 38%, .5);
    --primary-color-full: hsla(11, 70%, 38%, 1);
}

html {
    height: 100%;
}

body {
    min-height: 100%;   
    font-family: Helvetica, Arial, sans-serif;
    min-width: 100%;
    background: linear-gradient(15deg, var(--prim-bkgrnd) 0%, var(--sec-bkgrnd) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

#wrapper-div {
    margin: auto;
    width: 55%;
    padding: 0 0 15vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 0 3vh 0;
}

h1 {
    padding-bottom: 15px;
}

hr {
    position: static;
    width: 100%;
    max-width: 300px;
}

.row-wrapper {
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
}

.highScoreHeaderInput {
    font-weight: bold;
}

.highScoreHeaderInput, .highScoreInput {
    border-style: none;
    background:none;
    width: 75px;
}

#restartBtn {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  margin-top: 3vh;
}

#restartBtn:hover,
#restartBtn:focus {
    background: var(--primary-color-full);
}

