* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-color: hsla(11, 70%, 38%, 1);
    --secondary-color: hsla(7, 97%, 86%, 1);
    --tertiary-color: #39a6b2;
    --filler-color:hsla(60, 60%, 99%, 1);
    --olive: hsla(62, 59%, 30%, 1);
} */

html {
    height: 100%;
}

body {
    height: 100%;   
    margin: auto; 
    font-family: Helvetica, Arial, sans-serif;
    max-width: 500px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vh 0 5vh;
}

h1 {
    margin-bottom: 4vh;
}

#response-div hr {
    top: 40%
}

hr {
    position: static;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

p {
    padding-bottom: 5vh;
}

#main {
    margin: auto;
    width: 55%;
    padding: 0 0 15vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.section {
    padding-bottom: 25px;
    max-width: 300px;
}

#questions, #feedback {
    visibility: hidden;
}

#response-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
}

.response-btn {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    left: 12%
}

#question-feedback {
    float: left;
    margin-top: 3vh;
    width: 200px;
    height: 35px;
}

#feedback-div {
    position: absolute;
    height: 100%;
    margin: auto;
    min-width: 350px;
}

form {
    margin: 2vh 0 0 0;
    text-align: left;
}

label {
    display: inline;
    padding-right: 5px;
}

#score-label {
    padding-left: 80px;

}

#score {
    margin-bottom: 2vh;
}

#high-score-button {
    margin-top: 2vh;
}
