* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-color: hsla(11, 70%, 38%, 1);
    --secondary-color: hsla(7, 97%, 86%, 1);
    --tertiary-color: #39a6b2;
    --filler-color:hsla(60, 60%, 99%, 1);
    --olive: hsla(62, 59%, 30%, 1);
} */

html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;  
    margin: 0px; 
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10vh 10vh 15vh 10vh;
}

#main {
    margin: auto;
    width: 55%;
    padding: 0 0 15vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main h1, p {
    padding-bottom: 3vh;
}

.section {
    padding-bottom: 25px;
}

#questions, #feedback {
    visibility: hidden;
}

#response-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
}

.response-btn {
    width: 15vw;
    height: 2.5vw;
}

#question-feedback {
    float: left;
    margin-top: 3vh;
    width: 15vw;
    height: 2.5vw;

}

form {
    margin-top: 3vh;
    float: left;
}

label {
    display: inline;
    padding-right: 5px;
}

#score-label {
    position: absolute;
    left: 32.3vw;
}

#score {
    position: relative;
    left: 8.5vw;
}

#highscores-main {
    margin: auto;
    width: 55%;
    padding: 0 0 15vh;
    text-align: center;
}

#high-score-button {
    float: left;
    margin: 2vh 0 0 7vh;
}





