* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-bkgrnd: rgba(231,113,125,1);
    --sec-bkgrnd: rgba(251,238,193,1);

    --primary-color: hsla(11, 70%, 38%, .5);
    --primary-color-full: hsla(11, 70%, 38%, 1);

}

html {
    height: 100%;
}

body {
    height: 100%;   
    margin: auto; 
    font-family: Helvetica, Arial, sans-serif;
    max-width: 500px;
    background: linear-gradient(15deg, var(--prim-bkgrnd) 0%, var(--sec-bkgrnd) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vh 5vh 0 5vh;
}

.header-div, p {
    margin-bottom: 5vh;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: var(--primary-color-full);
}

#timer-p {
    font-weight: bold;
}

#timer {
    font-weight: 100;
}


h1 {
    margin-bottom: 4vh;
    font-weight: bold;
}

.button {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
}

.button:hover,
.button:focus {
    background: var(--primary-color-full);
}

.response-btn {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: solid;
  border-width: .25px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
}

.response-btn:hover {
    background: #fbeec1;
}

#response-div hr {
    top: 40%
}

hr {
    position: static;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

#main {
    margin: auto;
    width: 55%;
    padding: 0 0 15vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.section {
    padding-bottom: 25px;
    max-width: 300px;
}

#questions, #feedback {
    visibility: hidden;
}

#response-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
}

.response-btn {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    left: 12%
}

#question-feedback {
    float: left;
    margin-top: 3vh;
    width: 200px;
    height: 35px;
}

#feedback {
    display: flex;
    flex-direction: column;
    width: 320px;
    max-width: none;;
}

#results-h1 {
    margin-bottom: 2vh;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    border-style: solid;
    max-width: none;
}

form {
    margin: 2vh 0 0 0;
    text-align: left;
}

label {
    display: inline;
    padding-right: 5px;
}

#score-label {
    padding-left: 80px;

}

#score {
    margin-bottom: 2vh;
}

#high-score-button {
    margin-top: 2vh;
}
